.game
{
    background-color: coral;
    width:500px;
    height:500px;
    margin:50px;
    border: solid black;
}
.box
{
   display:inline-block;
   height: 50px;
   width:50px;
   border:solid black;
}
.player
{
    transform: translateY(225px);
    background-color: blanchedalmond;
    animation: move 4s infinite linear;
    animation-play-state: paused;
}
.enemy
{
    margin-left:100px;
    background-color:yellow;
    animation: bounce infinite linear;
}
.enemy.one
{
  animation-duration: 2s;
}
.enemy.two
{
    animation-duration: 5s;
}
.game:active .player{
    animation-play-state: running;
}
@keyframes bounce{
    50%
    {
       transform:translateY(450px);
    }
}
@keyframes move{
    50%
    {
    transform:translateY(225px) translateX(450px);
    }
}